/*estilos globales*/
h1{
    text-transform: uppercase;
    color: rgb(14,83,41);
    font-size: 1.9em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2,h3{
    font-weight:bolder;
    text-align:center;
}

body{
    margin: 0px;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(85, 207, 126);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
header ul{
    display: flex;
    list-style:none;
    font-weight:bold;
    font-size: 1.1em;
    text-shadow:1px 1px 2px rgb(246, 250, 245); 
}
li{
    margin:0 10px;
    padding:5px;  
}
li:hover{
    background:#edf3ee;  
}
a{
    color: rgb(3, 43, 13);
    font-weight: bolder;
    text-decoration: none;
}
main{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
footer{
    background-color:#6eb36c;
    display: flex;
    justify-content:space-between;
    padding: 2px;
    font-size: 1.1em;
    font-style: italic;
}
.iniciofooter{
    text-decoration:underline;
}
.contacto-footer{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-left:30px;
}
.redes{
    display: flex;
    justify-content: space-between;
}
.redes a img{
    margin: 5px;
    height: 50px;
}
/*inicio*/
.multimedia{
    display: flex;
    justify-content:space-between; 
}
.multimedia img{
    height: 200px;
}
.presentacion{
    width: 95%;
    margin:auto;
    text-align: justify;   
}
.pasos{
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
    padding: 30px;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.cajaflex{
    display: flex;  
}
table{
    display: flex;
    justify-content: center;
    font-style:oblique;
}
th{
    border: 2.5px solid black;
}
td, tr{
    border: 2px solid black;
    background-color:rgb(220, 236, 174)
}
.datosanuales{
    display: flex;
    justify-content:center;
}
.noticias{
    display: flex; 
    justify-content: space-between;
    margin-bottom:10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
.articulo{
    max-width: 30%;
    background-color:rgb(210, 240, 229);
    font-size: 0.8em;
    font-style: oblique;
    padding: 15px;
}
/**A partir de aquí se encuentra el CSS del html 2:Preguntas Frecuentes**/
.listapreguntas{
    font-size: 1.3em;
    color:darkgreen;
    margin: 0 30px;
}
dd{
    display: none;
}
dd:target{
    display: initial;
}
/**A partir de acá se encuentra el CSS del html 3: Contacto**/
 .tituloconsultas{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color:darkgreen;
    padding: 5px;
}
.contacto{
    margin-left: 35px;  
}
form{
    display: flex;
    flex-direction: column;    
}
.columnas{
    width: 50%;
}
.datosform{
    display: flex;
}
/**Captcha**/
.ingresocaptcha{
    display: flex;
}









