*{margin:0; /* por que?*/
  box-sizing: border-box;
 }

body{
    background-image: url(../images/fondoverdeoscuro.jpg);
    background-size: cover;
}

.containerhome{/*no es necesario, igual que body*/
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


h1{
    display: flex;
    justify-content:center;
    align-items:center;
    text-transform: uppercase;
    font-style:unset;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(61, 148, 100), 0 0 0.2em rgb(61, 61, 97);
    color: rgb(14, 83, 41);
    font: 1.8em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
    
}

header{
    display: flex;
    width: 100%;/*no es necesario*/
    height: 70px; /*muy chico, es necesario fijarlo?*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: Cambria;  /*estilo, no fuente*/
}

header ul{
    display: flex;
    list-style: none;
}

.navegacion{/*solapado con header ul*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botonera{
    display: flex;
    padding: 0px;
    justify-content: flex-end;    
}

.item, .itembotonera{
    background-color:rgb(13, 133, 59);
    border-top: 1px solid black;
    border-bottom: 2px groove black;
    border-left: 1px groove black;
    border-right: 1px groove black;
    list-style: none;
    margin: 0px 10px;
    text-transform: uppercase;
    padding: 15px;
}
main{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
.galeria{ /*ya existe galeria*/
    margin: 10px;
}

.nosotros{
    display: flex;/*no se usa*/
    padding: 30px;
    float: left;
    margin: 10px;
}

.tabla{
    display: flex;
    justify-content: center;
    font-style:oblique;
    background: transparent;
}
thead{
    background-color:rgb(194, 226, 123);
}
table, td, tr{
    border: 1px solid black;
}
.itemtabla:hover{/*por que*/
    background: none;
}
.itemtabla{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}

li{
    margin:0 10px;
    padding:5px;  
}
li:hover{
    background:#e7f185; 
    opacity:0.9; 
}

.galeria{
    display: flex;
    justify-content: space-around;
}
.galeria img{
    width: 30%;
}

.noticias{
    background-image: url(../images/fondonoticias.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    font-family:monospace;
    padding: 25px;
}


.articulo{
    width: 33%;
    opacity: 1;
    color: black;
}
.titulopreguntas, .tituloconsultas{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    color:darkgreen;
    padding: 20px;
}
.listapreguntas{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*ya esta en main*/
    font-size: 1.3em;
    color:darkgreen;
    padding: 20px;
}
.respuestas:hover{
    background: none;
}
.respuestas{
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.contacto{
    justify-content: left;
   
}
.formulario{
    display: flex;
    justify-content: space-around;
}

.email{
    margin-right: 19px;
}
.celdasform{
    display: flex;
    justify-content:flex-end;

}


footer{
    width: 100%;
    background-color:#D0F656;
    display: flex;
    justify-content:space-around;
    font-style: italic;
}
.iniciofooter{
    text-decoration:underline;
}

.contacto-footer{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-right: 60px;
}
.redes{
    display: flex;
    background-color: gray;
      
}
.redes-images{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: space-around;
    margin-left: 400px;
}







