a{
    color: black;
    text-decoration: none;
}
header{
    background-color: red;
    display: flex;
    justify-content: space-around;
}
header ul{
    background-color: gray;
    display: flex;
    list-style: none;
}
main{
    background-color: green;
}
.galeria{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.galeria img{
    width: 30%;
}
.noticias{
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.articulo{
    background-color: lightgray;
    width: 33%;
}
table,tr,td,th{
    border: 1px solid;
}
footer{
    background-color: blue;
    display: flex;
    justify-content: flex-end;
}
.redes{
    background-color: gray;
    display: flex;
    align-items: center;
}
.redes img{
    width: 50px;
    height: 50px;
}
.contacto-footer{
    background-color: red;
    justify-content: flex-start;
}